<!DOCTYPE html>
<html x-ng-app="">
	<head>
		<title>Tic Tac Toe</title>
		<link rel="stylesheet" type="text/css" href="style.css">
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.8/angular.min.js"></script>
		<script type="text/javascript" src="script.js"></script>
	</head>

	<body x-ng-controller="TicTacToeCtrl"> 
		<aside>
			<h2>{{nextPlayer}} {{winner}}</h2>
	        <table>
                <tr>
                    <th>PLAYER SCORES</th>
                </tr>
                <tr>
                    <td>Player 1: &nbsp; {{p1score}}</td>
                </tr>
                <tr>
                    <td>Player 2: &nbsp; {{p2score}}</td>
                </tr>
                <tr>
                    <td>Ties: &nbsp; {{ties}}</td>
                </tr>
	        </table>
	        <br />
	        <button x-ng-click="clearTotals()">Clear Totals</button>
	    </aside>

		<h1>Tic Tac Toe</h1>
		
		<div id ="board" id="{{cell[$index]}}" >
			<div x-ng-repeat="cell in cells track by $index" x-ng-class="{cell: true, clear: $index % 3 == 0}" x-ng-click="nextMove($index); ">{{cell}}</div>
		<div>	

		<br />
		<button id="reset" x-ng-click="resetBoard()">Reset</button>	
	</body>
</html>