<!DOCTYPE html>
<html x-ng-app="TicTacToe" x-ng-controller="TicTacToeCtrl">
	<head>
		<title>Tic Tac Toe</title>
		<link rel="stylesheet" type="text/css" href="{{stylePath}}">
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.8/angular.min.js"></script>
		<script src="https://cdn.firebase.com/v0/firebase.js"></script>
		<script src="https://cdn.firebase.com/libs/angularfire/0.6.0/angularfire.min.js"></script>
		<script type="text/javascript" src="main.js"></script>
	</head>

	<body x-ng-init="nextPlayer='Enter player names in scoreboard and click start!'"> 
		<h2 id="outcome">{{nextPlayer}}{{winner}}</h2>

		<div id ="board">
			<div x-ng-repeat="cell in obj.cells track by $index" x-ng-class="{cell: true, clear: $index % 3 == 0}" x-ng-click="nextMove($index); ">{{cell}}</div>
			<button id="reset" x-ng-click="startGame()">Start/Restart</button>	
			<button id="change" x-ng-click="changeStyle()">Change Board</button>
		</div>	
		
		<div id ="aside">
			<h1>Tic Tac Toe</h1>
			<h2 id="vs">{{player1}} vs. {{player2}}</h2>
			
	        <table>
                <tr>
                    <th>PLAYER SCORES</th>
                </tr>
                <tr>
                    <td><input type="text" x-ng-model="player1" size="20" placeholder="Enter Player 1">: &nbsp; {{obj.p1score}}</td>
                </tr>
                <tr>
                    <td><input type="text" x-ng-model="player2" size="20" placeholder="Enter Player 2">: &nbsp; {{obj.p2score}}</td>
                </tr>
                <tr>
                    <td>Ties: &nbsp; {{obj.ties}}</td>
                </tr>
	        </table>

	        <br />
	        <button x-ng-click="clearTotals()">Clear Totals</button>
	    </div>
	</body>
</html>