body {
    text-align: center;
    font-family: Helvetica;
    text-shadow: 3px 3px 2px #000000;
    color: #FFFFFF;
    background: url('bg.jpg');
    background-size: 100%;
}

h1 {
    font-size: 32px;
    background-color: none;
    width: 190px;
    padding: 4px;
    box-shadow: 5px 5px 2px #000000;
    border: 2px outset #30bbf4;
}

h2 {
    font-size: 19px;
    width: 190px;
    padding: 4px;
    background-color: none;
    box-shadow: 5px 5px 2px #000000;
    border: 2px outset #30bbf4;
    margin: 20px auto;
}

#vs {
    background-color: #000000;
}

#aside {
    position: absolute;
    padding: 0px 100px;
    top: 30px;
    left: 50px;
    font-size: 20px;
    text-align: center;
}

table {
    box-shadow: 5px 5px 2px #000000;
}

table, th {
    border: 1px solid #30bbf4;
    background-color: none;  
    width: 202px; 
    font-size: 15px;
    text-align: center;
}

th {
    padding: 10px;
    
}

td {
    background-color: #000000;
    padding: 10px;
    text-align: center;
}

input {
    background-color: #000000;
    color: #FFFFFF;
    text-align: center;
    border: none;
    font-size: 12px;
    font-weight: bold;
    border: 1px inset #393d50;
}

#board {
    margin: 0 auto;
    height: 450px;
    width: 450px;
}

.cell {
    float:left; 
    width: 144px;
    height: 144px;
    background-color: none;
    margin: 2px;
    border: 1px solid #30bbf4;
    font-size: 135px;
    text-align: center;
    box-shadow: 5px 5px 2px #000000;
    border-radius: 20px;
    cursor: pointer;
}

.cell:hover {
    background-color: #FFFFFF;
    color: #1eb9f9;
    box-shadow: 8px 10px 5px #000000;
    border: 1px solid #00992f;
}
          
.clear {
    clear: both;
}

button {
    height: 30px;
    width: 120px;
    margin: 0 auto;
    box-shadow: 5px 5px 2px #000000;
    background-color: #30bbf4;
    color: #FFFFFF;
    border: 2px outset #f3f1f4;
    font-size: 13px;
    text-shadow: 2px 2px 3px #000000;
    cursor: pointer;
}

#reset, #change {
    margin: 25px;
}

@media screen and (max-width: 800px) {
    #board {
        height: 300px;
        width: 300px;
    }

    .cell {
        width: 94px;
        height: 94px;
        font-size: 80px;
    }

    h2 {
        font-size: 16px;
        width: 120px;  
    }

    button {
        height: 20px;
        width: 80px;
        font-size: 10px;
    }   

    #aside * {
        display: none;
    }   
}

@media screen and (min-width: 800px) and (max-width: 1200px) {
    #board {
        height: 360px;
        width: 360px;
    }

    .cell {
        width: 114px;
        height: 114px;
        font-size: 80px;
    }

    h2 {
        font-size: 16px;
        width: 140px;  
    }

    h1 {
        font-size: 22px;
        width: 140px;
    }

    #aside {
        position: absolute;
        top: 40px;
        left: 20px;
        font-size: 20px;
        text-align: center;
    }

    table, th {
        width: 120px;
    }

    button {
        height: 20px;
        width: 80px;
        font-size: 10px;
    }   
}


